:root {
  // COLORS
  --white: #f3f3f3;
  --dark: #181818;

  // SHADOWS
  --default-box-shadow: 5px 5px 13px 0 rgb(34 60 80 / 12%);

  // FONT
  --font-family: "Montserrat", sans-serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family);
  --font-size-l: 22px;
  --font-line-l: 30px;
  --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family);

  // SIZES
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 100px;
}
