.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 30px;
  padding: 10px;
}

.clear {
  max-height: none;
  padding: 0;
}

.light {
  color: var(--white);
  padding: 0;
}
